<h1>Plantillas de mensaje</h1>
<div class="row mt-3">
  <div class="col">
    <div class="d-flex justify-content-end">
      <button
        class="btn btn-success float-end"
        [routerLink]="['/messages/add']"
      >
        Crear Plantilla
      </button>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Asunto</th>
          <th scope="col">Contenido</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of messagesLst">
          <th scope="row">{{ message?.subject }}</th>
          <td>{{ message?.content }}</td>
          <td>
            <div class="d-flex">
              <button
                class="btn btn-primary mr-2"
                [routerLink]="['/messages/edit', message?.id]"
              >
                Editar
              </button>
              <button
                class="btn btn-danger"
                (click)="confirmDeletion(message?.id)"
              >
                Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- deletion modal -->
<app-confirmation-modal
  #deletionModal
  (onConfirmation)="deleteMessage()"
></app-confirmation-modal>
