<h1>Crear Mensaje</h1>
<hr />
<form [formGroup]="form">
  <div class="row">
    <div class="form-group col">
      <label class="form-label">Selección de plantilla</label>
      <select
        class="form-control"
        (change)="setTemplate()"
        formControlName="template"
      >
        <option value="">-- Seleccionar plantilla ---</option>
        <option *ngFor="let message of templateLst; let i = index" [value]="i">
          {{ message.name ?? "Sin nombre" }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Asunto</label>
      <input type="text" class="form-control" formControlName="subject" />
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Contenido</label>
      <textarea class="form-control" formControlName="content"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-check float-right">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexCheckChecked"
          formControlName="customize"
          (change)="customizeTemplateFields()"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Personalizar plantilla
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label class="form-label">Emisor</label>
      <select class="form-control" formControlName="sender">
        <option value="">-- Escoge un emisor ---</option>
        <option *ngFor="let user of sendersLst; let i = index" [value]="i">
          {{ user?.id }} - {{ user?.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label class="form-label">Receptor</label>
      <ng-select
        [items]="receiversLst"
        bindLabel="name"
        bindValue="id"
        [multiple]="true"
        formControlName="receivers"
      ></ng-select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label class="form-label">Estado</label>
      <select class="form-control" formControlName="status">
        <option value="">-- Selecciona un estado ---</option>
        <option value="sent">Envio</option>
        <option value="draft">Borrador</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <input
        type="submit"
        value="Enviar"
        [disabled]="!formValid"
        class="btn btn-success float-right"
        (click)="send()"
      />
    </div>
  </div>
</form>
